{
    "pvsPath": "~/Work/gitlab/PVS-8.0/pvs-8.0",
    "comment": "To run the tests, please edit pvsPath in this file (test.config) so that it points to the folder where pvs is installed, then launch pvs server on port 23456 (./pvs -raw -port 23456). Additionally, please make sure the environment variable PVS_LIBRARY_PATH points to the folder where NASALib is installed, e.g., `export PVS_LIBRARY_PATH=~/PVS-8.0/nasalib` "
}