# exclude node_modules, client/out, server/out
node_modules
client/out
server/out
*/.vscode/
.DS_Store
client/.DS_Store
server/.DS_Store
*.zip
*.vsix
*.pdf
*.gif
*.class
*.prf
*.pvs
*.hpvs
.antlr
.pvscontext
*.tccs
*.jprf
*.old
*.log
*.???~
*.n64fasl
pvsbin/
*/*/*.summary
**/javaTarget/out/
test/