**/*.ts
**/*.d.ts
**/*.js.map
**/*.ts.map
**/*.d.ts.map
**/*.css.map
**/*.java
**/*.g4
**/*.old
**/*.pdf
**/*.pptx
**/*.n64fasl
**/package-lock.json
**/client/package-lock.json
**/server/package-lock.json

**/tsconfig.json
**/@types/
**/node_modules/vsce/
**/node_modules/typescript/
**/node_modules/tsutils/
**/node_modules/tslib/
**/node_modules/@typescript-eslint/
**/node_modules/eslint/
**/node_modules/eslint-scope/
**/node_modules/esrecurse/
**/node_modules/esrecurse/
**/node_modules/eslint-utils/
**/node_modules/functional-red-black-tree
**/node_modules/regexpp/
**/node_modules/azure-devops-node-api/
**/node_modules/os/
**/node_modules/tunnel/
**/node_modules/chalk/
**/node_modules/ansi-styles/
**/node_modules/color-convert/
**/node_modules/color-name/
**/node_modules/escape-string-regexp/
**/node_modules/supports-color/
**/node_modules/has-flag/
**/node_modules/cheerio/
**/node_modules/css-select/
**/node_modules/boolbase/
**/node_modules/css-what/
**/node_modules/domutils/
**/node_modules/nth-check/
**/node_modules/dom-serializer/
**/node_modules/domelementtype/
**/node_modules/entities/
**/node_modules/htmlparser2/
**/node_modules/domhandler/
**/node_modules/readable-stream/
**/node_modules/string_decoder/
**/node_modules/safe-buffer/
**/node_modules/util-deprecate/
**/node_modules/parse5/
**/node_modules/commander
**/node_modules/denodeify
**/node_modules/glob
**/node_modules/fs.realpath
**/node_modules/inflight
**/node_modules/wrappy
**/node_modules/inherits
**/node_modules/once
**/node_modules/path-is-absolute
**/node_modules/leven
**/node_modules/lodash
**/node_modules/markdown-it
**/node_modules/argparse/
**/node_modules/sprintf-js/
**/node_modules/linkify-it/
**/node_modules/mdurl/
**/node_modules/uc.micro/
**/node_modules/mime/
**/node_modules/minimatch/
**/node_modules/brace-expansion/
**/node_modules/balanced-match/
**/node_modules/concat-map/
**/node_modules/osenv/
**/node_modules/os-homedir/
**/node_modules/os-tmpdir/
**/node_modules/parse-semver/
**/node_modules/read/
**/node_modules/typed-rest-client/
**/node_modules/url-join/
**/node_modules/yauzl/
**/node_modules/buffer-crc32/
**/node_modules/fd-slicer/
**/node_modules/pend/
**/node_modules/yazl/
**/node_modules/mute-stream/
**/server/node_modules/.bin/tsc
**/server/node_modules/.bin/tsserver
**/client/node_modules/.bin/tsc
**/client/node_modules/.bin/tsserver
test/
todos/
LICENSES/
screenshots/
extra/prettify-pvs/
extra/xterm-pvs/
server/src/

**/client/node_modules/font-awesome/css/font-awesome.css
**/client/node_modules/font-awesome/css/font-awesome.css.map
**/client/node_modules/font-awesome/HELP-US-OUT.txt
**/client/node_modules/font-awesome/less/
**/client/node_modules/font-awesome/package.json
**/client/node_modules/font-awesome/scss/
**/client/node_modules/font-awesome/fonts/fontawesome-webfont.eot
**/client/node_modules/font-awesome/fonts/fontawesome-webfont.svg
**/client/node_modules/font-awesome/fonts/fontawesome-webfont.ttf
**/client/node_modules/font-awesome/fonts/FontAwesome.otf

**/client/node_modules/jquery/bower.json
**/client/node_modules/jquery/dist/jquery.js
**/client/node_modules/jquery/dist/jquery.min.map
**/client/node_modules/jquery/dist/jquery.slim.js
**/client/node_modules/jquery/dist/jquery.slim.min.js
**/client/node_modules/jquery/dist/jquery.slim.min.map
**/client/node_modules/jquery/external/
**/client/node_modules/jquery/package.json
**/client/node_modules/jquery/src/

**/client/node_modules/bootstrap/js/src/

**/client/node_modules/popper.js/src/

**/client/node_modules/d3-hierarchy/src/
**/client/node_modules/d3-hierarchy/dist/d3-hierarchy.min.js
**/client/node_modules/d3-hierarchy/README.md

**/node_modules/handlebars/release-notes.md
**/client/node_modules/handlebars/bin/.eslintrc.js

**/node_modules/minimist/
**/node_modules/uglify-js/

**/node_modules/source-map/

**/server/out/core/lib/PvsTypechecker.jar
**/server/out/core/lib/DdlParser.jar
**/server/out/core/pvs-typechecker/javaTarget/

**/HISTORY.md
**/.travis.yml
**/.npmignore
**/.idea/
**/.eslintrc.json

**/client/node_modules/xterm/lib/xterm.js
**/client/node_modules/xterm/package.json
**/client/node_modules/xterm/README.md
**/client/node_modules/xterm/src/
**/client/node_modules/xterm/tsconfig.all.json

**/server/out/core/pvs-outline-parser/
**/server/out/core/pvs-parser/jsTarget/

**/node_modules/**/CHANGELOG.md

**/examples/
**/client/node_modules/wordwrap/example/
**/node_modules/object-inspect/example/
**/node_modules/object-inspect/test-core-js.js
**/client/node_modules/animate.css/source/
**/client/node_modules/animate.css/animate.compat.css
**/client/node_modules/animate.css/animate.css
**/client/node_modules/backbone/backbone-min.map
**/client/node_modules/bootstrap/scss/
**/client/node_modules/bootstrap/dist/js/bootstrap.bundle.js
**/client/node_modules/bootstrap/dist/js/bootstrap.min.js
**/client/node_modules/bootstrap/dist/js/bootstrap.js
**/client/node_modules/bootstrap/dist/css/bootstrap.css
**/client/node_modules/bootstrap/dist/css/bootstrap-reboot.css
**/client/node_modules/bootstrap/js/
**/client/node_modules/jquery/AUTHORS.txt
