**/*.ts
**/*.js.map
**/*.java
**/*.g4
**/*.old
**/*.pdf
**/tsconfig.json
**/@types/
**/node_modules/vsce/
**/node_modules/typescript/
**/node_modules/tsutils/
**/node_modules/tslib/
**/node_modules/@typescript-eslint/
**/node_modules/eslint/
**/node_modules/eslint-scope/
**/node_modules/esrecurse/
**/node_modules/esrecurse/
**/node_modules/eslint-utils/
**/node_modules/functional-red-black-tree
**/node_modules/regexpp/
**/client/node_modules/.bin/
**/server/node_modules/.bin/
test/
todos/
LICENSES/
screenshots/
extra/
server/src
